---
layout: default
title: references
categories: ["resume"]
---
<p> &nbsp; &nbsp; Name: Sang Tran </p>
<p> &nbsp; &nbsp; Occupation: GIS Analyst</p>
<p> &nbsp; &nbsp; Company: Houston Emergency Center </p>
<p> &nbsp; &nbsp; Address: 901 Bagby St. Houston, TX 77002</p>
<p> &nbsp; &nbsp; Phone: (281) 515-5523</p>
<p> &nbsp; &nbsp; Email: sang.hoang.tran@outlook.com</p>
<p><br></p>
<p> &nbsp; &nbsp; Name </p>: Recruiter
<p> &nbsp; &nbsp; Occupation </p>: Connective Talent
<p> &nbsp; &nbsp; Company: Houston Emergency Center</p>
<p> &nbsp; &nbsp; Address: 3555 Timmons Ln #1500, Houston, TX 77027</p>
<p> &nbsp; &nbsp; Phone: (832) 392-7398</p>
<p> &nbsp; &nbsp; Email: vle@connectivetalent.com</p>
<p><br></p>
<p> &nbsp; &nbsp; Name: Daniel Goldberg</p>
<p> &nbsp; &nbsp; Occupation: Associate Professor</p>
<p> &nbsp; &nbsp; Company: Texas A&amp;M University, GIS Department</p>
<p> &nbsp; &nbsp; Address: 400 Bizzell St. College Station, TX 77843</p>
<p> &nbsp; &nbsp; Phone: (979) 845-6395</p>
<p> &nbsp; &nbsp; Email: daniel.golberg@tamu.edu</p>
<p><br></p>
<p> &nbsp; &nbsp; Name: Kim Hyun</p>
<p> &nbsp; &nbsp; Occupation: Owner</p>
<p> &nbsp; &nbsp; Company: 40 Tempura Sushi</p>
<p> &nbsp; &nbsp; Address: 2551 Texas Ave S. Suite D, College Station, TX 77840</p>
<p> &nbsp; &nbsp; Phone: (979) 229-0291</p>
<p> &nbsp; &nbsp; Email: 40tempura@gmail.com</p>
<p><br></p>
<p><br></p>